<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="silo.com.silo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_silo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_silo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.UI.LandMarkDescription"></activity>
        <activity android:name=".UI.UI.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.UI.UserComment" />
        <activity android:name=".UI.UI.Verify" />
        <activity android:name=".UI.UI.Profile" />
        <activity android:name=".UI.UI.Help" />
        <activity android:name=".UI.UI.Comment" />
        <activity android:name=".UI.UI.LandMarkDesc" />
        <activity android:name=".UI.UI.Login" />
        <activity android:name=".UI.UI.Register" />
        <activity android:name=".UI.UI.Start" />
        <activity
            android:name=".UI.UI.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>